@import "../../styles/variables/colors";

.container {
  background-color: $colorBackgroundPrimary;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > * {
    width: 15%;
    margin-bottom: 10px;
  }
}
